

/* Hero Section */

.hero-section{
    background-color: #1f2937;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    padding-top: 50px;
}

.heading-links{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-midsection{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 200px;
    margin-bottom: 200px;
    gap: 10%;
}

.left-side{
    display: flex;
    flex-direction: 1;
    flex-direction: column;
}

.hero-image{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 200px;

}

.button1{
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

/* Information Section */

.information-header{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information-section{
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.image{
    background-color: white;
    border-style: solid;
    border-color: #3882f6;
    border-width: 2px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

figcaption{
    text-align: center;
    max-width: 200px;
}

/* Quote Section */

.quote-section{
    background-color: #e5e7eb;
}

blockquote{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

/* Call to action section */

.call-to-action-section{
    background-color: #3882f6 ;
    margin: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: #f9faf8;
}

h1{
    font-size: 24px;
    font-weight: bold;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}


.button2{
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    width: 100px;
    height: 30px;
}

/* Footer section */

.footer{
    text-align: center;
    background-color: #1f2937 ;
    padding: 20px;
    color: white;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: #e5e7eb;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-subtext{
    font-size: 18px;
    color: #e5e7eb;
}


.hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-image{
    color: #e5e7eb;
    background-color: grey;
}
